body{
	text-align:center;
}

.img{
	width: 290px;
	margin-top: 50px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
	transition: 0.5s ease;
}
.inputfile + label {
	transition: 0.5s ease;
	margin-top: 50px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #d07373;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 40px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #d73434;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}
#my_file_output{
	text-align: center;
	display: none;
}
.notes{
	text-align: right;
    direction: rtl;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 40%;
}